Repository StackExchange/StackExchange.Redis, pull requests merged in 2020-02, with the labels that each got.

#1154 Added support for NOACK in the StreamReadGroup methods.
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/StreamConstants.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Streams.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: area:API, area:streams

#1141 Updated StreamCreateConsumerGroup methods to use the MKSTREAM option.
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/StreamConstants.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Streams.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: area:API, area:streams

#1190 Include details of abbreviations seen in exceptions
  docs/Timeouts.md
Labels: documentation

#1254 Scoring in RediSearch
  src/NRediSearch/Client.cs
  src/NRediSearch/Document.cs
  src/NRediSearch/Query.cs
  src/NRediSearch/SearchResult.cs
  tests/NRediSearch.Test/ExampleUsage.cs
  tests/NRediSearch.Test/QueryTest.cs
Labels: area:nredisearch, needs-tweaks
