Repository StackExchange/StackExchange.Redis, pull requests merged in 2020-03, with the labels that each got.

#1067 Sentinel Support Derived from pr-692
  appveyor.yml
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Interfaces/IServer.cs
  src/StackExchange.Redis/RedisServer.cs
  src/StackExchange.Redis/ResultProcessor.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  tests/RedisConfigs/Sentinel/sentinel-26381.conf
  tests/RedisConfigs/start-all.sh
  tests/StackExchange.Redis.Tests/Helpers/TestConfig.cs
  tests/StackExchange.Redis.Tests/Sentinel.cs
Labels: area:connection, area:sentinel, enhancement

#1400 Fix up boadcasts, tests, and logging across the board
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Interfaces/IServer.cs
  tests/StackExchange.Redis.Tests/BasicOps.cs
  tests/StackExchange.Redis.Tests/ConnectFailTimeout.cs
  tests/StackExchange.Redis.Tests/ConnectToUnexistingHost.cs
  tests/StackExchange.Redis.Tests/ConnectingFailDetection.cs
  tests/StackExchange.Redis.Tests/ExceptionFactoryTests.cs
  tests/StackExchange.Redis.Tests/Failover.cs
  tests/StackExchange.Redis.Tests/Issues/Issue1101.cs
  tests/StackExchange.Redis.Tests/Issues/SO24807536.cs
  tests/StackExchange.Redis.Tests/Migrate.cs
  tests/StackExchange.Redis.Tests/PubSub.cs
  tests/StackExchange.Redis.Tests/Sentinel.cs
  tests/StackExchange.Redis.Tests/TestBase.cs
Labels: area:connection, area:pub/sub, timeout

#1397 Better Connection Counts & Error Messages
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/ExceptionFactory.cs
  src/StackExchange.Redis/RedisBatch.cs
  src/StackExchange.Redis/RedisServer.cs
  src/StackExchange.Redis/StackExchange.Redis.csproj
  tests/StackExchange.Redis.Tests/AsyncTests.cs
  tests/StackExchange.Redis.Tests/ExceptionFactoryTests.cs
  tests/StackExchange.Redis.Tests/Failover.cs
  tests/StackExchange.Redis.Tests/TestBase.cs
Labels: area:connection

#1402 Sentinel: Several break fixes
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Interfaces/IServer.cs
  src/StackExchange.Redis/RedisServer.cs
  tests/StackExchange.Redis.Tests/Sentinel.cs
Labels: area:sentinel, bug
