Repository StackExchange/StackExchange.Redis, pull requests merged in 2021-06, with the labels that each got.

#1684 Update Cluster AutoDiscovery after failover
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/ServerEndPoint.cs
Labels: area:cluster, area:failover, for-review

#1772 ReconfigureAsync: fix re-entrancy issue
  src/StackExchange.Redis/ConnectionMultiplexer.cs
Labels: area:connection, bug

#1773 Unselectable flag race fix
  src/StackExchange.Redis/ConnectionMultiplexer.cs
Labels: area:connection, bug

#1774 Sentinel: split tests
  src/StackExchange.Redis/ServerEndPoint.cs
  tests/StackExchange.Redis.Tests/Sentinel.cs
  tests/StackExchange.Redis.Tests/SentinelBase.cs
  tests/StackExchange.Redis.Tests/SentinelFailover.cs
Labels: area:sentinel

#1762 Idea for #1759 - Resolving race in AUTH connection reconfigurations
  docs/ReleaseNotes.md
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Message.cs
  src/StackExchange.Redis/PhysicalBridge.cs
  src/StackExchange.Redis/PhysicalConnection.cs
  src/StackExchange.Redis/ResultProcessor.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  tests/StackExchange.Redis.Tests/MultiMaster.cs
  tests/StackExchange.Redis.Tests/Sentinel.cs
Labels: area:connection, bug

#1776 Fixes for #1762 & Don't fail on *reporting*
  .github/workflows/CI.yml
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/PhysicalBridge.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  tests/StackExchange.Redis.Tests/Cluster.cs
  tests/StackExchange.Redis.Tests/Helpers/TextWriterOutputHelper.cs
  tests/StackExchange.Redis.Tests/Migrate.cs
  tests/StackExchange.Redis.Tests/MultiMaster.cs
Labels: area:connection

#1777 More connection/logging tweaks
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/ResultProcessor.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  tests/StackExchange.Redis.Tests/Migrate.cs
  tests/StackExchange.Redis.Tests/Sentinel.cs
Labels: area:connection, bug

#1784 Sentinel: fix for #1783
  src/StackExchange.Redis/ResultProcessor.cs
  tests/StackExchange.Redis.Tests/SentinelBase.cs
  tests/StackExchange.Redis.Tests/SentinelFailover.cs
Labels: area:sentinel

#1710 OnManagedConnectionFailed thread/memory leak fix
  src/StackExchange.Redis/ConnectionMultiplexer.cs
Labels: area:connection, area:sentinel

#1788 Tests: better logging
  tests/StackExchange.Redis.Tests/SentinelFailover.cs
  tests/StackExchange.Redis.Tests/SharedConnectionFixture.cs
  tests/StackExchange.Redis.Tests/TestBase.cs
Labels: for-review

#1787 Dispose/Finalizers: Cleanup
  src/StackExchange.Redis/SocketManager.cs
  tests/BasicTest/Program.cs
Labels: for-review

#1786 Add == & != operators for ChannelMessaege and RedisFeatures
  src/StackExchange.Redis/ChannelMessageQueue.cs
  src/StackExchange.Redis/RedisFeatures.cs
Labels: for-review
