Repository StackExchange/StackExchange.Redis, pull requests merged in 2022-03, with the labels that each got.

#1987 Configuration: An idea on separation
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Configuration/AzureOptionsProvider.cs
  src/StackExchange.Redis/Configuration/DefaultOptionsProvider.cs
  src/StackExchange.Redis/ConfigurationOptions.cs
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/ExceptionFactory.cs
  src/StackExchange.Redis/Maintenance/AzureMaintenanceEvent.cs
  src/StackExchange.Redis/Maintenance/ServerMaintenanceEvent.cs
  tests/StackExchange.Redis.Tests/Config.cs
  tests/StackExchange.Redis.Tests/ConnectionFailedErrors.cs
  tests/StackExchange.Redis.Tests/ConnectionReconnectRetryPolicyTests.cs
  tests/StackExchange.Redis.Tests/DefaultOptions.cs
Labels: area:config

#2021 v2.5
  docs/ReleaseNotes.md
  version.json
Labels: documentation

#2031 Add ConfigurationOptions.BeforeSocketConnect
  docs/Configuration.md
  docs/ReleaseNotes.md
  src/StackExchange.Redis/ConfigurationOptions.cs
  src/StackExchange.Redis/PhysicalConnection.cs
  tests/StackExchange.Redis.Tests/Config.cs
Labels: enhancement, area:API

#2042 Fix for #1813 - don't actually connect to a null endpoint
  src/StackExchange.Redis/PhysicalConnection.cs
Labels: bug, area:connection

#2029 String SET: add support for KEEPTTL
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/RedisFeatures.cs
  src/StackExchange.Redis/RedisLiterals.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Strings.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:API

#2048 Bug: fix ClientKill/ClientKillAsync when by ClientType
  docs/ReleaseNotes.md
  src/StackExchange.Redis/RedisServer.cs
Labels: bug

#2056 DefaultOptionsProvider: prevent AddProvider race
  src/StackExchange.Redis/Configuration/DefaultOptionsProvider.cs
Labels: bug

#1743 Implement GETEX command
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/Message.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/RedisFeatures.cs
  src/StackExchange.Redis/RedisLiterals.cs
  tests/StackExchange.Redis.Tests/Strings.cs
Labels: enhancement, area:API
