Repository StackExchange/StackExchange.Redis, pull requests merged in 2022-04, with the labels that each got.

#2065 Support LMOVE
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Enums/ListSide.cs
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/RedisLiterals.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Lists.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:commands, area:API

#2078 Support SINTERCARD
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Sets.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:commands, area:API

#2077 Support SMISMEMBER
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RawResult.cs
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/ResultProcessor.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Sets.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:commands, area:API

#2076 Support ZRANDMEMBER
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/SortedSets.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:commands, area:API

#2083 Support EXPIRETIME and PEXPIRETIME
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Enums/ExpireWhen.cs
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/RedisLiterals.cs
  src/StackExchange.Redis/ResultProcessor.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Expiry.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:commands, area:API

#2099 Link to fuget.org on docs site
  docs/index.md
Labels: documentation

#2100 Docs: Love! Linking, <remarks> fixes, code formatting, etc.
  src/StackExchange.Redis/APITypes/LatencyHistoryEntry.cs
  src/StackExchange.Redis/APITypes/LatencyLatestEntry.cs
  src/StackExchange.Redis/ClientInfo.cs
  src/StackExchange.Redis/ClusterConfiguration.cs
  src/StackExchange.Redis/CommandMap.cs
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Enums/ClientFlags.cs
  src/StackExchange.Redis/Enums/RedisType.cs
  src/StackExchange.Redis/Enums/SaveType.cs
  src/StackExchange.Redis/Format.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/Interfaces/IRedis.cs
  src/StackExchange.Redis/Interfaces/IRedisAsync.cs
  src/StackExchange.Redis/Interfaces/IServer.cs
  src/StackExchange.Redis/Interfaces/ISubscriber.cs
  src/StackExchange.Redis/Interfaces/ITransaction.cs
  src/StackExchange.Redis/Maintenance/AzureMaintenanceEvent.cs
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/RedisFeatures.cs
  src/StackExchange.Redis/ResultProcessor.cs
  src/StackExchange.Redis/Role.cs
  src/StackExchange.Redis/TaskExtensions.cs
  src/StackExchange.Redis/ValueStopwatch.cs
  tests/StackExchange.Redis.Tests/Hashes.cs
  tests/StackExchange.Redis.Tests/PubSub.cs
  tests/StackExchange.Redis.Tests/SanityChecks.cs
  tests/StackExchange.Redis.Tests/Scans.cs
  tests/StackExchange.Redis.Tests/SharedConnectionFixture.cs
  tests/StackExchange.Redis.Tests/Strings.cs
Labels: documentation

#2095 Support the XAUTOCLAIM command.
  docs/ReleaseNotes.md
  src/StackExchange.Redis/APITypes/StreamAutoClaimIdsOnlyResult.cs
  src/StackExchange.Redis/APITypes/StreamAutoClaimResult.cs
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/ResultProcessor.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Streams.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:commands, area:API

#2094 ZMPOP and LMPOP
  docs/ReleaseNotes.md
  src/StackExchange.Redis/APITypes/ListPopResult.cs
  src/StackExchange.Redis/APITypes/SortedSetPopResult.cs
  src/StackExchange.Redis/Enums/RedisCommand.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RawResult.cs
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/ResultProcessor.cs
  tests/StackExchange.Redis.Tests/Lists.cs
  tests/StackExchange.Redis.Tests/SortedSets.cs
Labels: enhancement, area:commands, area:API

#2105 Support OBJECT FREQ
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/KeyspaceIsolation/DatabaseWrapper.cs
  src/StackExchange.Redis/KeyspaceIsolation/WrapperBase.cs
  src/StackExchange.Redis/PublicAPI.Shipped.txt
  src/StackExchange.Redis/RedisDatabase.cs
  src/StackExchange.Redis/RedisLiterals.cs
  tests/StackExchange.Redis.Tests/DatabaseWrapperTests.cs
  tests/StackExchange.Redis.Tests/Keys.cs
  tests/StackExchange.Redis.Tests/WrapperBaseTests.cs
Labels: enhancement, area:commands, area:API

#2110 avoid byte[] allocations when calculating cluster slot
  Directory.Build.props
  docs/ReleaseNotes.md
  src/StackExchange.Redis/ExtensionMethods.cs
  src/StackExchange.Redis/RedisKey.cs
  src/StackExchange.Redis/RedisValue.cs
  src/StackExchange.Redis/ServerSelectionStrategy.cs
  src/StackExchange.Redis/SkipLocalsInit.cs
  tests/StackExchange.Redis.Tests/Keys.cs
Labels: performance
