Repository StackExchange/StackExchange.Redis, pull requests merged in 2022-02, with the labels that each got.

#1947 Pub/Sub fixes for subscribe/re-subscribe
  .github/workflows/CI.yml
  docs/ReleaseNotes.md
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Interfaces/IDatabase.cs
  src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs
  src/StackExchange.Redis/Interfaces/ISubscriber.cs
  src/StackExchange.Redis/Message.cs
  src/StackExchange.Redis/PhysicalBridge.cs
  src/StackExchange.Redis/Profiling/ProfiledCommand.cs
  src/StackExchange.Redis/RedisSubscriber.cs
  src/StackExchange.Redis/ResultProcessor.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  src/StackExchange.Redis/ServerSelectionStrategy.cs
  src/StackExchange.Redis/SimulatedFailureType.cs
  tests/RedisConfigs/Dockerfile
  tests/RedisConfigs/docker-compose.yml
  tests/StackExchange.Redis.Tests/Cluster.cs
  tests/StackExchange.Redis.Tests/Helpers/TestConfig.cs
  tests/StackExchange.Redis.Tests/Helpers/TextWriterOutputHelper.cs
  tests/StackExchange.Redis.Tests/Issues/Issue1101.cs
  tests/StackExchange.Redis.Tests/Locking.cs
  tests/StackExchange.Redis.Tests/PubSub.cs
  tests/StackExchange.Redis.Tests/PubSubMultiserver.cs
  tests/StackExchange.Redis.Tests/Sentinel.cs
  tests/StackExchange.Redis.Tests/TestBase.cs
  tests/StackExchange.Redis.Tests/TestExtensions.cs
Labels: bug, enhancement, area:pub/sub

#1912 v2.5 work: BacklogPolicy
  .github/workflows/CI.yml
  appveyor.yml
  src/StackExchange.Redis/BacklogPolicy.cs
  src/StackExchange.Redis/ConfigurationOptions.cs
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Enums/CommandFlags.cs
  src/StackExchange.Redis/Message.cs
  src/StackExchange.Redis/PhysicalBridge.cs
  src/StackExchange.Redis/PhysicalConnection.cs
  src/StackExchange.Redis/RedisServer.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  src/StackExchange.Redis/ServerSelectionStrategy.cs
  tests/StackExchange.Redis.Tests/AsyncTests.cs
  tests/StackExchange.Redis.Tests/BacklogTests.cs
  tests/StackExchange.Redis.Tests/ConnectFailTimeout.cs
  tests/StackExchange.Redis.Tests/ConnectingFailDetection.cs
  tests/StackExchange.Redis.Tests/ConnectionFailedErrors.cs
  tests/StackExchange.Redis.Tests/ExceptionFactoryTests.cs
  tests/StackExchange.Redis.Tests/PubSub.cs
  tests/StackExchange.Redis.Tests/PubSubMultiserver.cs
  tests/StackExchange.Redis.Tests/Secure.cs
  tests/StackExchange.Redis.Tests/SharedConnectionFixture.cs
  tests/StackExchange.Redis.Tests/StackExchange.Redis.Tests.csproj
  tests/StackExchange.Redis.Tests/TestBase.cs
Labels: enhancement, area:connection

#1985 Client name: append library version suffix
  Directory.Build.props
  docs/ReleaseNotes.md
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/ExceptionFactory.cs
  src/StackExchange.Redis/PhysicalConnection.cs
  src/StackExchange.Redis/Utils.cs
  tests/StackExchange.Redis.Tests/Config.cs
  tests/StackExchange.Redis.Tests/ExceptionFactoryTests.cs
Labels: enhancement, area:connection

#1990 Fix for #1967: Sanitizing message failures
  docs/ReleaseNotes.md
  src/StackExchange.Redis/Message.cs
  src/StackExchange.Redis/PhysicalBridge.cs
  src/StackExchange.Redis/RedisBatch.cs
  src/StackExchange.Redis/RedisTransaction.cs
  src/StackExchange.Redis/ResultProcessor.cs
  tests/StackExchange.Redis.Tests/ExceptionFactoryTests.cs
Labels: bug

#1992 Rollback: remove .NET 6 build
  src/StackExchange.Redis/StackExchange.Redis.csproj
Labels: performance

#2001 Misc connection/subscription fixes
  docs/ReleaseNotes.md
  src/StackExchange.Redis/CommandMap.cs
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/RedisSubscriber.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  tests/StackExchange.Redis.Tests/Config.cs
Labels: bug

#1989 support for envoyproxy
  docs/Configuration.md
  src/StackExchange.Redis/CommandMap.cs
  src/StackExchange.Redis/ConfigurationOptions.cs
  src/StackExchange.Redis/ConnectionMultiplexer.cs
  src/StackExchange.Redis/Enums/Proxy.cs
  src/StackExchange.Redis/Enums/ServerType.cs
  src/StackExchange.Redis/PhysicalConnection.cs
  src/StackExchange.Redis/RedisBase.cs
  src/StackExchange.Redis/ServerEndPoint.cs
  src/StackExchange.Redis/ServerSelectionStrategy.cs
  tests/RedisConfigs/Docker/install-envoy.sh
  tests/RedisConfigs/Docker/supervisord.conf
  tests/RedisConfigs/Dockerfile
  tests/RedisConfigs/Envoy/envoy.yaml
  tests/RedisConfigs/docker-compose.yml
  tests/RedisConfigs/start-all.sh
  tests/RedisConfigs/start-cluster.cmd
  tests/StackExchange.Redis.Tests/EnvoyTests.cs
  tests/StackExchange.Redis.Tests/Helpers/TestConfig.cs
Labels: enhancement, area:connection
